<section id="observationInformation">
  <h4>Teacher:</h4>
  <p><%= @observation.user.first_name %> <%= @observation.user.last_name %></p>
  <h4>Student:</h4>
  <p><%= @observation.student.first_name %> <%= @observation.student.last_name %></p>
  <h4>Start:</h4>
  <p><%= @observation.start %></p>
  <h4>End:</h4>
  <p><%= @observation.finish %></p>
</section>