<% if @user.is_a? Coordinator %>
  <section id="coordinatorPanel">
    <h1>Coordinator Panel</h1>
    <h1>School Information:</h1>
    <%= render 'shared/school_information' %>
    <h1>Your Information:</h1>
    <%= render 'shared/user_information' %>
    <section id="studentsPanel">
      <h1>Students:</h1>
      <%= link_to 'Add a Student', new_school_student_path(@school) %>
      <%= render 'shared/student_group' %>
    </section>
    <section id="speducatorsPanel">
      <h1>Special Education Teachers</h1>
      <% if @user.type == "Coordinator" %>
        <%= link_to 'Add a Special Education Teacher', new_school_speducator_path(@school) %>
      <% end%>
      <%= render 'shared/speducator_group' %>
    </section>
    <h1>Genderal Education Teachers</h1>
      <section id="teachersPanel">
        <%= link_to 'Add a Teacher', new_school_teacher_path(@school) %>
        <%= render 'shared/teacher_group' %>
      </section>
  </section>
<% elsif @user.is_a? Speducator %>
  <section id="speducatorPanel">
    <h1>Speducator Panel</h1>
    <h1>School Information:</h1>
    <%= render 'shared/school_information' %>
    <h1>Your Information:</h1>
    <%= render 'shared/user_information' %>
    <section id="studentsPanel">
      <h1>Students:</h1>
      <%= render 'shared/student_group' %>
    </section>
  </section>
<% elsif @user.is_a? Teacher %>
  <section id="teacherPanel">
    <h1>Teacher Panel</h1>
  </section>
<% end %>


