<h2>Cards</h2>
<% if current_user.is_a? Speducator %>
	<%= link_to 'Add a Card', new_school_student_card_path(@school, @student) %>
<% end %>
<% if @cards.empty? %>
  <p>There are no cards assigned to this student</p>
<% else %>
  <ul>
  <% @cards.each do |card|%>
  <div>
  	<p><%= card.start.in_time_zone("Eastern Time (US & Canada)") %> - <%= card.end.in_time_zone("Eastern Time (US & Canada)") %></p>
    <p><%= card.teacher_id %></p>
    <% if current_user.is_a? Speducator %>
      <%= button_to 'show', school_student_card_path(@school, card.student, card), method: :get %>
      <%= button_to 'edit', edit_school_student_card_path(@school, card.student, card), method: :get %>
      <%= button_to("delete", school_student_card_path(@school, card.student, card), method: :delete) %>
    <% end %>
  </div>
  <% end %>
  </ul>
<% end %>