<h2>teachers</h2>
<% if @teachers.empty? %>
  <p>There are no teachers assigned to this school</p>
<% else %>
  <ul>
  <% @teachers.each do |teacher|%>
    <li><%= teacher.first_name %> <%= teacher.last_name %>
      <%= button_to 'show', school_teacher_path(@school, teacher), method: :get %>
      <%= button_to 'edit', edit_school_teacher_path(@school, teacher), method: :get %>
      <%= button_to("delete", school_teacher_path(@school, teacher), method: :delete) %>
    </li>
  <% end %>
  </ul>
<% end %>