<div class="row">
    <div class="col-sm-8">
      <h1>The Why:<span class = "text-muted"> Poorly managed behavoir data is a loadstone dragging down students, teachers, and school cultures.</h1>

    </div>
    <div class="col-sm-3">
      <%= image_tag("frustrated_student_one.jpg", class: "img-responsive img-rounded", alt: "Frustrated Male Elementary Student") %>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row container-fluid">
    <div class= "col-sm-3 hidden-xs">
      <%= image_tag("frustrated_student_two.jpg", class: "img-responsive img-rounded", alt: "Frustrated Female Elementary Student") %>
      <%= image_tag("divider-grey.png", class: "divider img-reponsive", alt: "Curved Divider") %>
      <h3><span class="text-primary">Build a better tomorrow, today! ~ <span class="text-muted">It is the responsibility of every human to leave the world better than they found it, so why wait!</span></h3 >
    </div>
    <div class="panel panel-default col-sm-9">
      <div class="panel-heading">
        <h3 class="panel-title">Student frustrations</h3>
      </div>
      <div class="panel-body">
        <p>Bibhub was designed first with a focus on students, honoring our first value, <span class = "text-primary">Build a better tomorrow</span>. There are a lot of student frustrations around behavoir data, but they can be grouped into three general catagories; Opaqueness, Inconsistency, and Ineffectiveness.<p>
        <ul>
          <li>
            <h4>Opaqueness - </h4>
            <p>Many students who struggle with behavoir, also struggle with understanding the behavoir data tracking that is often implemented as part of their BIP. Since it is often related to their rewards, this opaqueness can lead to more frustration and reduce buy-in. It can feel like the reward system is being done to them instead of earned by them. This feeling is sometimes expressed as being "just lucky" on a successful day, or "I'm always like this" on less successful days.</p>
          </li>
          <li>
            <h4>Inconsistency - </h4>
            <p>We all know how important consistency is to all students. Poorly managed behavoir data is <span class="text-warning">inherently inconsistent!</span> When data is incomplete, lost, misrecorded, or just late in getting reported it breaks the behavoir/feedback cycle. Worse, it does so in a stochastic manner. This errodes the trust, sometimes nominal to begin with, that a student has that the system is fair. If data only gets back to the Special Education Teacher on good days, or only on bad days, the system is out of balance.</p>
          </li>
          <li>
            <h4>Ineffectiveness - </h4>
            <p>The hands-down most demoralizing experience for the student is when <span class = "text-warning">it doesn't work</span>. Biphub's foundation is simple logic, bad data + good intentions = bad decisions. Hope is a precious commodity for students who feel cronically unsuccessful. Being under a behavoir plan that they can't be successful at, or that doesn't target the correct antecedents or skill gaps reinforces the idea that they are the problem. Poorly managed behavoir data systems are inherently dangerous because they can give false positives, fail to show successes that are happening, or take to long to give the team the signal that the student can't be successful.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class="panel panel-default col-sm-9">
      <div class="panel-heading">
        <h3 class="panel-title">Teacher frustrations</h3>
      </div>
      <div class="panel-body">
        <p>Bibhub has a strong focus on user experience, becuase it expresses our second value <span class = "text-primary">Easy to use creates effective use</span>. Tearcher frustrations surrounding managing behavoir data are varied but, for the sake of symmetry, lets group them into three catagories; Manual Labor, Veracity, and Inflexablity.<p>
        <ul>
          <li>
            <h4>Manual Labor - </h4>
            <p>Most SPED teachers manage Bip data in the same way as it has been done for years, with paper. Whether it takes the form of observation logs, tracker sheets that travel with the child, or token economies, the common denominator is that <span class="text-warning">the data is initially manefested in physical form</span>. Apart from a not insignificant waste of paper resources, this means that the data is either never digitalize (not able to be graphed or queried), or has to be manuelly input into a spreadsheet program. Even the most brutally effecient systems put in place become unweildy under the sheer weight of the data to be input.</p>
            <p>Beyond the waste of human capital in this process, to get the spreadsheet to give back meaningful data (averages, graphes, etc), the SPED teacher has to do some olympic level spreadsheet gymnastics. Most teachers were never trained to vault over pivot-tables or z-axis graphes. Even then, the data for each student is generally siloed into sperate tables, and lives locally on only one teachers computer. This makes it very difficult to compare data across a caseload/grade-level team to look for trend data.</p>
          </li>
          <li>
            <h4>Veracity - </h4>
            <p>One of the most common frustrations shared by teachers during the developement of BipHub, was that the data they got was often incomplete, didn't answer the question they needed answered, or to slow to be used well. Not knowing how a student was doing throughout the day, in real-time, meant that data conversations with students were to late in coming to turn a day around, or prevent an escalation.</p>
            <p>Data that is collected on paper is often <span class="text-danger">lost or damaged</span> throughout the day, leaving gaps in the data, decreasing accountablity and skewing interretation of the data. Even then, paperbased data is often not input into the spreadsheet fast enough to keep the digital model up to date. This means the digital data is only useful for the short period of time when all of the data has been input, and no new data exists.</p>
          </li>
          <li>
            <h4>Inflexiblity - </h4>
            <p>Finally, most BIP data systems are <span class="text-warning">only able to ask one type of question</span>, a qualitative scale recorded by an observe, ex. "Johny will keep his hands to hisself 1-5". However, there are lots of types of data that could be collected; incidence data (how many times did Johny successfully turn in papers?), time data (how long did Johny work independently?), boolean data (Did Johny get removed from class?), percentage data, (what percent of the exit ticket did johny complete?).</p>
            <p>Getting the right answer often starts from asking the right question, and recording the right type of data is crucial to this. Further, getting a spreadsheet to understand time sensitive data as opposed to boolean data, or incidence data is nigh impossible. A flexible application supported by a rhobust database that can handle varied datatypes is crucial to well managed behavoir intervention data.
          </li>
        </ul>
      </div>
    </div>
    <div class= "col-sm-3 hidden-xs">
      <%= image_tag("frustrated_teacher.jpg", class: "img-responsive img-rounded", alt: "Frustrated Female Teacher") %>
      <%= image_tag("divider-grey.png", class: "divider img-reponsive", alt: "Curved Divider") %>
      <h3><span class="text-primary">Easy to use creates effective use ~ <span class="text-muted">Software applications should be intuitive to use, well documented, and needing the minimum training to be used. They should inspire users, and be pleasant to use.</span></h3 >
    </div>
  </div>
  <div class="row container-fluid">
    <div class= "col-sm-3 hidden-xs">
      <%= image_tag("administrator.jpg", class: "img-responsive img-rounded", alt: "Tired Administrator") %>
      <%= image_tag("divider-grey.png", class: "divider img-reponsive", alt: "Curved Divider") %>
      <h3><span class="text-primary">Teams move mountains ~ <span class="text-muted">The challenges facing our schools and communities are so complicated and multifaceted that it takes many eyes, minds, and hands to grapple with them.</span></h3 >
    </div>
    <div class="panel panel-default col-sm-9">
      <div class="panel-heading">
        <h3 class="panel-title">Administrator frustrations</h3>
      </div>
      <div class="panel-body">
        <p>Behavoir intervention data is incredibly difficult to aggregate, because it is often siloed off by teacher, and individual to every student.<span class = "text-primary">This hampers collaboration and effective teamwork.</span>. School leadership teams need better, more rhobust systems for gathering, interpreting, and acting on BIP data accross all gradelevels and teams.<p>
        <ul>
          <li>
            <h4>Opacity - </h4>
            <p>One of the most consistent frustrations expressed by administrators is their inablity to quickly see an accurate picture of the effectiveness of interventions in place. School leaders need to be able to identify in real time the students, teachers, or teams that need more support. All school leaders recognize that the quicker this support becomes available the more effective it will be, but the turnaround time on current data management systems can mean weeks may go by before they are alerted to a problem.</p>
          </li>
          <li>
            <h4>Documentation of services - </h4>
            <p>Accurately documenting the services a student with a BIP recieved is ultimately the responsiblity and liablity of the school. Having secure, redundant and persistant data storage, alongside a exhaustive report generation suite is crucial to a rhobust documentation of services for every student.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>