<table>
  <tr>
    <td><h3>Name:</h3></td>
    <td><p><%= @school.name %></p></td>
  </tr>
  <tr>
    <td><h3>address:</h3></td>
    <td><p><%= @school.address %></p></td>
  </tr>
  <tr>
    <td><h3>City:</h3></td>
    <td><p><%= @school.city %></p></td>
  </tr>
  <tr>
    <td><h3>State:</h3></td>
    <td><p><%= @school.state %></p></td>
  </tr>
  <tr>
    <td><h3>Zip:</h3></td>
    <td><p><%= @school.zip %></p></td>
  </tr>
