<section id="reportsPanel">

<% unless @school %>
  <h2>No school selected.</h2>
<% else %>
  <h3>Reports for: <%= @school.name %></h3>
<% end %>

<% if @school %>
  <div class="schoolData">
    <h1><%= @school.name %></h1>

    <div id="schoolTable"></div>
    <div class="graph"></div>
  </div>
<% end %>

<%= form_tag reports_path, method: "get", id: 'schoolFilter' do%>
  School: <%= select_tag 'school_id', options_for_select(schools_options(@schools)) %>
  <%= submit_tag "Filter Results" %>
<% end %>

</section>