<section id="reportsPanel" class="container">
  <div class="row">
    <%= form_tag reports_path, method: "get", id: 'schoolFilter', class: "form-inline" do%>
      <div class="form-group">
        <label for="school_id" class="sr-only">School</label>
        <% if @school %>
          <%= select_tag 'school_id', options_for_select(schools_options(@schools), @school.id), class: "form-control" %>
        <% else %>
          <%= select_tag 'school_id', options_for_select(schools_options(@schools)), class: "form-control" %>
        <% end %>
      </div>
      <%= submit_tag "Filter Results", class: "btn btn-primary" %>
    <% end %>

    <% unless @school %>
      <h2>No school selected.</h2>
    <% else %>
      <h3>Reports for: <%= @school.name %><%= " - Grade Level: #{@grade}" if @grade %><%= " - Gender: #{@gender.capitalize}" if @gender %><%= " - Race: #{@race.capitalize}" if @race %><%= " - Special Educator: #{Speducator.find(@speducator_id).first_name}" if @speducator_id %></h3>
      <p>Select the subgroups from the options below to filter the graph results</p>
      <%= form_tag reports_path, method: "get", id: 'sliceFilter', class: "form-inline" do%>
        <%= hidden_field_tag 'school_id', @school.id %>
        <div class="form-group">
          <label for="grade_lvl">Grade Level</label>
          <%= select_tag 'grade_lvl', options_for_select(grade_level_options(@school), @grade), class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="race">Race</label>
          <%= select_tag 'race', options_for_select(race_options(@school), @race), class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <%= select_tag 'gender', options_for_select(gender_options, @gender), class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="Special Educator">Special Educator</label>
          <%= select_tag 'speducator_id', options_for_select(speducator_options(@school.speducators), @speducator_id), class: "form-control" %>
        </div>
        <%= submit_tag "Filter Results", class: "btn btn-primary" %>
      <% end %>
     <% end %>
   </div>


  <% if @school %>
    <div class="schoolData" class="row">
      <div class="col-md-7 col-sm-12">
        <table id="schoolTable" class="table">
          <tr>
            <th>Users Information</th>
          </tr>
          <tr>
            <th>Total Staff</th>
            <th>Coordinators</th>
            <th>Special Educators</th>
            <th>Teachers</th>
          </tr>
          <tr>
            <td><%= @school.users.count %></td>
            <td><%= @school.coordinators.count %></td>
            <td><%= @school.speducators.count %></td>
            <td><%= @school.teachers.count %></td>
          </tr>
          <tr>
            <th>Student Information</th>
          </tr>
          <tr>
            <th>Total Students</th>
            <th>Active Goals</th>
            <th>Observations</th>
            <th>Records</th>
          </tr>
          <tr>
            <td><%= @school.student_count %></td>
            <td><%= @school.active_goals.count %></td>
            <td><%= @school.observations.count %></td>
            <td><%= @school.records.count %></td>
          </tr>
          <tr>
            <th>Open Observations</th>
          </tr>
          <tr>
            <th>Total</th>
            <th>>1 day due</th>
            <th>>1 week due</th>
            <th># of teachers</th>
          </tr>
          <tr>
            <td><%= @school.unanswered_observations.count %></td>
            <td><%= @school.unanswered_observations(1).count %></td>
            <td><%= @school.unanswered_observations(7).count %></td>
            <td><%= @school.teachers_with_unanswered_observations.count %></td>
          </tr>
          <tr>
            <th>Student Metrics - Whole Year</th>
          </tr>
          <tr>
            <th>Average Performance</th>
            <th>Average Performance - trailing week</th>
            <th>Average Performance - trailing month</th>
            <th>Average Growth</th>
          </tr>
          <tr>
            <td id="avg_student_performance"><%= @school.avg_student_performance(grade: @grade, gender: @gender, race: @race, speducator_id: @speducator_id) %></td>
            <td><%= @school.avg_student_performance(trailing: 7, grade: @grade, gender: @gender, race: @race, speducator_id: @speducator_id) %></td>
            <td><%= @school.avg_student_performance(trailing: 30, grade: @grade, gender: @gender, race: @race, speducator_id: @speducator_id) %></td>
            <td><%= @school.avg_student_growth %></td>
          </tr>
        </table>
      </div>
      <div class="col-sm-12 col-md-5">
        <%= content_tag 'div', class: "graph", id: "chart_div", data: { school: school_data(@school), title: "Average Performance - Whole Year's", type: "line", xlabel: 'Date', ylabel: 'Performance'} do %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>