<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Biphub</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid app-wrapper">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if current_page?(controller: "welcome", action: "index") %>
            <%= link_to "BipHub", root_path, class: "navbar-brand active" %>
          <% else %>
            <%= link_to "BipHub", root_path, class: "navbar-brand" %>
          <% end %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if current_page?(controller: "blogs", action: "index") %>
              <li><%= link_to "Blog", blogs_path, class: "active" %></li>
            <% else %>
              <li><%= link_to "Blog", blogs_path %></li>
            <% end %>
            <% if current_page?(controller: "welcome", action: "about") %>
              <li><%= link_to "About", about_path, class: "active" %></li>
            <% else %>
              <li><%= link_to "About", about_path %></li>
            <% end %>
            <% if current_page?(controller: "welcome", action: "contact") %>
              <li><%= link_to "Contact", contact_path, class: "active" %></li>
            <% else %>
              <li><%= link_to "Contact", contact_path %></li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Developer <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Bio", bio_path %></li>
                <li><%= link_to "Projects", projects_path %></li>
                <li><%= link_to "Articles", articles_path %></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav" style="float: right">
            <% if current_user %>

              <li><%= link_to "Reports", reports_path %></li>
              <% if current_user.is_a? Admin %>
                <% if current_page?( admin_path(current_user)) %>
                  <li><%= link_to "Dashboard", admin_path(current_user), class: "active" %></li>
                <% else %>
                  <li><%= link_to "Dashboard", admin_path(current_user) %></li>
                <% end %>
              <% else %>
                <% if current_page?(users_path(current_user)) %>
                  <li><%= link_to "Dashboard", users_path(current_user), class: "active" %></li>
                <% else %>
                  <li><%= link_to "Dashboard", users_path(current_user) %></li>
                <% end %>
              <% end %>
              <li><%= link_to "Logout", '/logout' %></li>
            <% else %>
              <% if current_page?(controller: "sessions", action: "new") %>
                <li><%= link_to 'Login', '/login', class: "active" %></li>
              <% else %>
                <li><%= link_to 'Login', '/login' %></li>
              <% end %>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

    <%= yield %>

    <footer class="footer row">
      <p class="col-sm-12">Website design and developement by &copy;Adam Fluke. <%= link_to 'License and Terms of Use', legal_path %></p>
    </footer>
  </div>
</body>
</html>
